{% extends "bouldering/header.html" %}

{% block room %}
   <div class="container py-5">
   	<form class="form-horizontal" method="POST">
   		{% csrf_token %}
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="username" class="form-control" id="username">
      </div>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="password1">Password:</label>
        <input type="password" class="form-control" id="password1">
      </div>
      <div class="form-group">
        <label for="password2">Password Confirmation:</label>
        <input type="password" class="form-control" id="password2">
      </div>
   		<button class="btn btn-secondary my-3" type="submit">Register</button>
   	</form>
   	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
   </div>
{% endblock %}
